@model EmpireDirectory.Models.Jedi
<input type="text" name="Force" value="@Model.Force" />
<input type="text" name="Lightsaber" value="@Model.LightSaber" />
<select name="affiliation">
    <option value="Padwan">Padwan</option>
    <option value="Jedi">Jedi</option>
    <option value="MasterJedi">Master Jedi</option>
    <option value="JediCounsel">Jedi Counsel</option>
</select>
