<h2>Add a Jedi</h2>
<form method="post">
    Name: <input type="text" id="name" name="name"/><br/>
    Affiliation: <select name="Affiliation">
        <option value="Empire">Empire</option>
        <option value="Rebel">Rebel</option>
        <option value="Mercernary">Mercernary</option>
        <option value="other">Other</option>
    </select>
    <input type="submit"/>
</form>
